fastapi
uvicorn[standard]
python-multipart
asyncpg
pandas
openpyxl
geopandas
pyogrio        # Zapis do GeoPackage
shapely         # Operacje geometryczne
jinja2         # Szablony HTML
sse-starlette
xlrd>=2.0.1 # Do odczytu plików Excel (jeśli potrzebne)